<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
		<add key="Nuget Prevoir Production" value="https://nuget-production.intranet.prevoir/v3/index.json" />
		<add key="PTC-Production" value="https://azure-devops.intranet.prevoir/Prevoir/PTC/_packaging/Production/nuget/v3/index.json" />
		<add key="Local" value="%USERPROFILE%\NugetLocalPackages" />
	</packageSources>
	<fallbackPackageFolders>
		<add key="Microsoft Visual Studio Offline Packages" value="C:\Program Files (x86)\Microsoft SDKs\NuGetPackages\"/>
		<add key="Microsoft Visual Studio Fallback Folder" value="C:\Program Files (x86)\Microsoft Visual Studio\Shared\Packages" />
	</fallbackPackageFolders>
</configuration>
